.app__header {
    background-color: var(--color-main);
}

.app__header-h1 {
    font-family: var(--font-base);
    color: var(--color-matrix);
    font-weight: 700;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    line-height: 117px;
    font-size: 80px;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards, fadeIn 1s forwards;
}

.app__header-img img {
    width: 80%;
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInImg 1s forwards, fadeIn 1s forwards;
}

@media screen and (min-width: 2000px) {
    .app__header-h1 {
        font-size: 180px;
        line-height: 210px;
    }
}

@media screen and (max-width: 1150px) {
    .app__header-h1 {
        font-size: 90px;
    }
}

@media screen and (max-width: 650px) {
    .app__header-h1 {
        font-size: 70px;
        line-height: 87px;
    }
}

@media screen and (max-width: 450px) {
    .app__header-h1 {
        font-size: 50px;
        line-height: 70px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInImg {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}